
  <a href="#"><h3 class="main-header"><em><strong>Juxta Position</strong></em></h3></a>

<div>
  <div class='player-versus row container'>

      <!-- _____ player X card _____ -->
    <div class="player-x-display">
      <div class="card col s5">
        <div class="center card-content">
            <span class="card-title activator grey-text text-darken-2">{{nameX}}<i class="material-icons right">more_vert</i></span>
            <img src="{{logoX}}">  <!-- team logo -->
            <p class="text-darken-6">{{playerX.player.Position}}, {{playerX.team.City}} {{playerX.team.Name}}</p>
            <!-- <h5 class="text-darken-6">Position Rank: {{positionXrank}}</h5> -->
              <!-- <p><a href="#">This is a link</a></p> -->
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Bio: <i class="material-icons right">close</i></span>
            <p>Here is some more information.</p>
        </div>
      </div>
    </div>

      <!-- _____ player Y card _____ -->
    <div class="player-y-display">
      <div class="card col s5 offset-s2">
        <div class="center card-content">
            <span class="card-title activator grey-text text-darken-2">{{nameY}}<i class="material-icons right">more_vert</i></span>
            <img src="{{logoY}}">  <!-- team logo -->
            <p class="text-darken-6">{{playerY.player.Position}}, {{playerY.team.City}} {{playerY.team.Name}}</p>
            <!-- <h5 class="text-darken-6">Position Rank: {{positionYrank}}</h5> -->
              <!-- <p><a href="#">This is a link</a></p> -->
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Bio: <i class="material-icons right">close</i></span>
            <p>Here is some more information.</p>
        </div>
      </div>
    </div>

  </div>  <!-- _____ end of player cards _____ -->

  <h4 class="center">Week {{week}}</h4>

  <div class="row carousel carousel-slider center" data-indicators="true">
        <!-- ______ radar chart ______ -->
    <div class="carousel-item orange lighten-4" href="#one!">
      <div class="chart col s6 offset-s3">
        <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-series="series" chart-labels="radarLabels">
        </canvas>
        <h4>Expert Rankings</h4>
      </div>
    </div>

          <!-- ______ bar chart ______ -->
    <div class="carousel-item orange lighten-4" href="#two!">
      <div class="chart col s10 offset-s1">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="barLabels" chart-series="series">
        </canvas>
        <h4>Projected Points</h4>
      </div>
    </div>

        <!-- ______ comparison table ______ -->
    <div class="table row container carousel-item orange lighten-4" href="#three!">
      <table class="col s10 offset-s1">
          <thead>
            <tr>
                <th data-field="id"></th>
                <th data-field="name">{{nameX}}</th>
                <th data-field="price">{{nameY}}</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Opponent:</td>
              <td>{{opponentX}}</td>
              <td>{{opponentY}}</td>
            </tr>
            <tr>
              <td>Projected points:</td>
              <td>{{weekProjectedX}}</td>
              <td>{{weekProjectedY}}</td>
            </tr>
            <tr>
              <td>Combined Expert Ranking:</td>
              <td>{{positionXrank}}</td>
              <td>{{positionYrank}}</td>
            </tr>
          </tbody>
        </table>
      <h4>Breakdown</h4>
    </div>    <!-- ______ end of comparison table ______ -->
  </div>  <!-- ______ end of carousel ______ -->

    <!-- ______ player choice buttons _____ -->
  <div class="row choice-btn">
    <div class="col s3 offset-s3">
      <button class="btn waves-effect waves-orange" ng-click="postComparison(nameX)">{{nameX}}</button>
    </div>
    <div class="col s1">
      or
    </div>
    <div class="col s3">
      <button class="btn waves-effect waves-orange" ng-click="postComparison(nameY)">{{nameY}}</button>
    </div>
  </div>
</div>


<div class="foot-image"></div>
