<h3 class="main-header center-align"><em>___juxtaPosition___</em></h3>

<div class="container">

  <div class="player-search row center-align">
    <div class="input-field">
      <!-- <i class="material-icons">input</i> -->
      <input class="col s4 offset-s1 input-1" type="email" placeholder="Player X" ng-model="search1">
    </div>
    <div class="input-field">
      <!-- <i class="material-icons">input</i> -->
      <input class="col s4 offset-s2 input-2" type="email" placeholder="Player Y" ng-model="search2">
    </div>
  </div>

  <div class="juxta-btn center-align" ng-hide="1 !== 1">
    <button class="btn waves-effect waves-light" type="submit" ng-click="juxtaPose()">juxtaPose</button>
  </div>

  <div class='player-versus'>
    <div >

    </div>

  </div>

</div>
