
<div class="container">
  <a href="/"><p><em><strong>[ Juxta Position ]</strong></em></p></a>
  <div class="row">
    <div class="profile-pic col s4 offset-s8">
      <img class="circle" src="{{profilePic}}" ng-click="changePic()" />
      <h5 class="center">{{user.email}}</h5>
    </div>
  </div>
  <div class="divider"></div>

  <div class="my-comps container">
    <div>
      <h3>Saved comparisons</h3>
      <ul class="collapsible" data-collapsible="accordion">
        <li ng-repeat="(key, comp) in comps">
            <div class="collapsible-header" ng-click='openComp()'>
              <i class="material-icons">assessment</i>
              <b>{{comp.nameX}}</b> vs <b>{{comp.nameY}}</b> in <b>Week {{comp.week}}</b>.
            </div>
          <div class="collapsible-body">
            <span> You chose {{comp.choice}}.</span>
            <a href="" ng-click="reviewComp(comp.nameX, comp.nameY, comp.week)">  [ Review ]</a>
              <a href="" ng-click="deleteComp(key)"><i class="material-icons right">delete</i></a>
            <div class="newNote row" ng-if="comp.note === undefined"> <!-- only shows if note doesn't exist -->
              <input class="left-align col s5 offset-s1" type="text" ng-model="newNote" placeholder="comment">

              <a class="tooltipped btn-floating btn-small waves-effect waves-light blue" data-position="bottom" data-delay="50" data-tooltip="Add a note" ng-click="addNote(key, newNote)">
                <i class="material-icons">add</i>
              </a>

            </div>
            <p class="comp-note"><em>{{comp.note}}</em></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="profile-image"></div>
